@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<script type="text/ecmascript">
    var photos = @Html.Raw( Json.Encode( Model ) )
</script>

@Html.Partial( "~/Views/Shared/ClientApps/PhotoAlbumApp.cshtml" )